<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="APServer" type="MonitorCore.APConfig, MonitorCore"/>
    <section name="DataBase" type="MonitorCore.DBConfig, MonitorCore"/>
    <section name="ServiceConfig" type="MonitorCore.ServiceConfig, MonitorCore"/>
  </configSections>

  <APServer>
    <remote RemoteIP="192.168.0.27" RemotePort="5555"></remote>
    <local LocalPort="6668"></local>
  </APServer>

  <DataBase>
    <users username="sa" password="witop_402507"></users>
    <db address="192.168.0.200,2433" table="FilesDB"></db>
  </DataBase>

  <ServiceConfig>
    <log level="1"></log>
    <record cmd_enable="0" Buffer="50"></record>
    <APthread count="3"></APthread>
    <Path path_video="C:\iVMS-4200\video" path_dest="E:\iVMS-4200" IP="192.168.1.4" Port="8000"></Path>
    <AP path="C:\iVMS-4200\video"></AP>
  </ServiceConfig>
</configuration>
